<!DOCTYPE html>
<html lang="en">
<head>
    <!-- STUB head-links -->
    <%- include ("./0-partials/headers-sum/head-links.ejs") -%>

    <title>Grapevine | Home</title>
</head>

<body>
    
    <!-- STUB navbar -->
    <%- include ("./0-partials/headers-sum/navbar.ejs") -%>

    <main class="main">

        <!-- STUB jumbotron -->
        <%- include ("./0-partials/landing/jumbotron.ejs") -%>

        <div class="values-body">   
            <!-- STUB values -->
            <%- include ("./0-partials/landing/values.ejs") -%>
        </div>

    </main>

<!--STUB footer -->
    <%- include ("./0-partials/headers-sum/footer.ejs") -%>

</body>
</html>