<div class="container">
    <div class="row">

        <!-- STUB left-side col -->
        <div class="col"></div>


        <!-- STUB middle col -->
        <div class="col-8">
                
            <!-- STUB Header -->
            <div class="card shadow-lg ml-5 mt-4 rounded" 
                style="width: 35rem;">
                <div class="card-header alert alert-info">
                
                    <!-- STUB message createdAt -->               
                    <p>
                            Shared on Grapevine on:     
                        <strong>
                            <%= moment(foundMessage.createdAt).format("MMM Do YY") %>
                        </strong>
                    </p>
                </div>  

                <div class="card-body">

                    <!-- STUB jobRole param -->               
                    <p>
                        Job Title:   
                        <strong> 
                            <%= foundMessage.jobRole %>
                        </strong> 
                    </p>

                    <!-- STUB company param -->               
                    <p>
                        Company:  
                        <strong> 
                            <%= foundMessage.company %>
                        </strong> 
                    </p>

                    <!-- STUB location param -->               
                    <p> 
                        Location:    
                        <strong> 
                            <%= foundMessage.location %>
                        </strong> 
                    </p>

                    <!-- STUB link param -->               
                    <p>
                        <a href="<%= foundMessage.link %>">
                            Link to posting
                        </a>
                    </p>

                    <!-- STUB content param -->               
                    <p>
                        Thoughts:
                        <br />     
                        <%= foundMessage.content %>
                    </p>

                    <hr class="my-4" />

                    
                    <!-- STUB new message button -->
                    <div>
                        <a href="/messages/<%= foundMessage._id %>/edit" 
                            class="btn btn-sm btn-info">
                            Edit Post
                        </a>

                        <!-- STUB cancel button -->
                        <a href="/messages" 
                            class="btn btn-sm btn-secondary"> 
                            Cancel
                        </a>

                        <!-- STUB delete button -->
                        <form action="/messages/<%= foundMessage._id %>?_method=DELETE" method="POST">
                            <input type="submit" 
                                class="btn btn-sm btn-danger pull-right" 
                                value="Delete" />
                        </form>
                    </div>

                </div>
                
            </div>

        </div>

        <!-- STUB right-side col -->
        <div class="col"></div>
	</div>
</div>

