<!DOCTYPE html>
<html lang="en">
<head>
    <!-- STUB head-links -->
    <%- include ("../0-partials/headers-sum/head-links.ejs") -%>

    <title>All Messages</title>
</head>


<body>
    <!-- STUB navbar -->
    <%- include ("../0-partials/headers-sum/navbar.ejs") -%>
    
    <!-- STUB main -->
    <main class="main">
        mailbox
        <h3 class="label">No messages yet?</h3>
        <a href="/messages/new">Create Message</a>


        <ul class="">
            <li>
                <a>
                    Are you up to date with your messages?
                    <strong class="has-text-white">Check one out. </strong>
                </a>
                <ul>
                    <% allMessages.forEach(message => { %>
                    <li>
                    <a href="/messages/<%= message._id %>"> <%= message.content%> </a>
                    </li>
                    <% }) %>
                </ul>
                <% if(allMessages.length === 0) { %>
                <p>
                    You have no messages!
                </p>
                <% }%>
            </li>
        </ul>



    </main>

    
    <!--STUB Footer -->
    <%- include ("../0-partials/headers-sum/footer.ejs") -%>

    
</body>
</html>