
<div class="container">
    <div class="row">

        <!-- STUB left-side col -->
        <div class="col"></div>

        <!-- STUB middle col -->
        <div class="col-6">
            <br />

            <!-- STUB profile card -->
            <div class="text-center">
                <div class="container">

                    
                    <div class="card shadow-lg ml-5 mt-4 rounded profile-gradient" 
                        style="width: 20rem;">

                        <!-- STUB edit button -->
                        <a href="/user/<%= thisUser._id %>/edit" 
                            class="btn btn-lg btn-info btn-block"> 
                            Edit Profile
                        </a>

                        <!-- STUB profile picture -->
                        <img src="<%= thisUser.profilePic %>" 
                            class="card-profile-img" 
                            alt="profile picture" />
                    
                        <!-- STUB card information -->
                        <div class="card-profile-info">
                            <h3 class="card-title my-2">
                                <%= thisUser.username %> 
                            </h3>
                            <hr class="my-3" />
                            <h5 class="my-4">
                            <br />
                            <%= thisUser.jobRole %>   
                            <br />
                            <%= thisUser.company %> 
                            <br />
                            <%= thisUser.location %> 
                            </h5>
                            <br />
                        </div>

                        <!-- STUB delete button -->
                        <form action="/user/<%= thisUser._id %>?_method=DELETE" method="POST">
                            <input type="submit" 
                                class="btn btn-sm btn-danger btn-block" 
                                value="Delete" />
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- STUB right-side col -->
        <div class="col">

        </div>


    </div>
</div>