
<div class="container">
    <div class="row">

        <!-- STUB left-side col -->
        <div class="col"></div>

        <!-- STUB middle col -->
        <div class="col-6">
            <br />

            <!-- STUB profile card -->
            <div class="text-center">
                <div class="container">

                    <!-- STUB profile picture -->
                    <div class="card shadow-lg ml-5 mt-4 rounded profile-gradient" 
                        style="width: 20rem;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/User_Avatar.png" 
                            class="card-profile-img" 
                            alt="profile picture" />
                    
                        <!-- STUB card information -->
                        <div class="card-profile-info">
                            <h3 class="card-title my-2">
                                <%= thisUser.username %> 
                            </h3>

                            <h6 class="my-4">
                                About
                                <hr />
                                <%= thisUser.jobRole %>   
                                <br />
                                <%= thisUser.company %> 
                                <br />
                                <%= thisUser.location %> 
                            </h6>
                            <br />
                            <br />
                        </div>

                        <!-- STUB edit button -->
                        <a href="/user/<%= thisUser._id %>/edit" 
                            class="btn btn-lg btn-info btn-block"> 
                            Edit Profile
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <!-- STUB right-side col -->
        <div class="col">

        </div>


    </div>
</div>